.up-supported-by {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 40px;
    font-weight: 450;
    font-size: 12px;
    line-height: 20px;
    color: var(--up-text-secondary);
    /*display: none;*/
    align-items: center;
    justify-content: center;
}
.up-supported-by .unipass-logo {
    width: 100px;
    height: 16px;
    margin: 0 8px;
}
.up-supported-by .text {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--up-text-primary);
}
.el-form {
    --el-form-label-font-size: var(--el-font-size-base);
}
.el-form--label-left .el-form-item__label {
    justify-content: flex-start;
}
.el-form--label-top .el-form-item {
    display: block;
}
.el-form--label-top .el-form-item .el-form-item__label {
    display: block;
    height: auto;
    text-align: left;
    margin-bottom: 8px;
    line-height: 22px;
}
.el-form--inline .el-form-item {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 32px;
}
.el-form--inline.el-form--label-top {
    display: flex;
    flex-wrap: wrap;
}
.el-form--inline.el-form--label-top .el-form-item {
    display: block;
}
.el-form--large.el-form--label-top .el-form-item .el-form-item__label {
    margin-bottom: 12px;
    line-height: 22px;
}
.el-form--default.el-form--label-top .el-form-item .el-form-item__label {
    margin-bottom: 8px;
    line-height: 22px;
}
.el-form--small.el-form--label-top .el-form-item .el-form-item__label {
    margin-bottom: 4px;
    line-height: 20px;
}
.el-form-item {
    display: flex;
    --font-size: 14px;
    margin-bottom: 18px;
}
.el-form-item .el-form-item {
    margin-bottom: 0;
}
.el-form-item .el-input__validateIcon {
    display: none;
}
.el-form-item--large {
    --font-size: 14px;
    --el-form-label-font-size: var(--font-size);
    margin-bottom: 22px;
}
.el-form-item--large .el-form-item__label {
    height: 40px;
    line-height: 40px;
}
.el-form-item--large .el-form-item__content {
    line-height: 40px;
}
.el-form-item--large .el-form-item__error {
    padding-top: 4px;
}
.el-form-item--default {
    --font-size: 14px;
    --el-form-label-font-size: var(--font-size);
    margin-bottom: 18px;
}
.el-form-item--default .el-form-item__label {
    height: 32px;
    line-height: 32px;
}
.el-form-item--default .el-form-item__content {
    line-height: 32px;
}
.el-form-item--default .el-form-item__error {
    padding-top: 2px;
}
.el-form-item--small {
    --font-size: 12px;
    --el-form-label-font-size: var(--font-size);
    margin-bottom: 18px;
}
.el-form-item--small .el-form-item__label {
    height: 24px;
    line-height: 24px;
}
.el-form-item--small .el-form-item__content {
    line-height: 24px;
}
.el-form-item--small .el-form-item__error {
    padding-top: 2px;
}
.el-form-item__label-wrap {
    display: flex;
}
.el-form-item__label {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 auto;
    font-size: var(--el-form-label-font-size);
    color: var(--el-text-color-regular);
    height: 32px;
    line-height: 32px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}
.el-form-item__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    line-height: 32px;
    position: relative;
    font-size: var(--font-size);
    min-width: 0;
}
.el-form-item__content .el-input-group {
    vertical-align: top;
}
.el-form-item__error {
    color: var(--el-color-danger);
    font-size: 12px;
    line-height: 1;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;
}
.el-form-item__error--inline {
    position: relative;
    top: auto;
    left: auto;
    display: inline-block;
    margin-left: 10px;
}
.el-form-item.is-required:not(.is-no-asterisk).asterisk-left
> .el-form-item__label-wrap
> .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-left
> .el-form-item__label:before {
    content: "*";
    color: var(--el-color-danger);
    margin-right: 4px;
}
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right
> .el-form-item__label-wrap
> .el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right
> .el-form-item__label:after {
    content: "*";
    color: var(--el-color-danger);
    margin-left: 4px;
}
.el-form-item.is-error .el-input__wrapper,
.el-form-item.is-error .el-select-v2__wrapper,
.el-form-item.is-error .el-select-v2__wrapper:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
    box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}
.el-form-item.is-error .el-input-group__append .el-input__wrapper,
.el-form-item.is-error .el-input-group__prepend .el-input__wrapper {
    box-shadow: inset 0 0 0 1px transparent;
}
.el-form-item.is-error .el-input__validateIcon {
    color: var(--el-color-danger);
}
.el-form-item--feedback .el-input__validateIcon {
    display: inline-flex;
}
.page-login {
    padding-bottom: 60px;
}
.page-login .logo {
    display: block;
    margin-top: 0px;
    width: 100%;
    height: 120px;
    background-image: url(/img/logo.b6cfe57f.svg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.page-login h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    font-family: Cool Super Black, serif;
}
.page-login .to-continue-to {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--up-text-primary);
}
.page-login .to-continue-to span {
    color: var(--up-primary);
    font-weight: 600;
}
.page-login .oauth-box {
    margin-top: 40px;
    width: 100%;
}
.page-login .oauth-box .one {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--up-bg-checked);
    border-radius: 12px;
    transition: all 0.15s;
    box-shadow: inset 1px 1px 3px var(--up-line);
}
.page-login .oauth-box .one:hover {
    background-color: #eee;
}
.page-login .oauth-box .one + .one {
    margin-top: 20px;
}
.page-login .oauth-box .one .iconpark {
    font-size: 27px;
}
.page-login .oauth-box .one span {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.page-login .or-box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-login .or-box .line {
    width: 50px;
    height: 1px;
    background-color: var(--up-text-third);
}
.page-login .or-box span {
    margin: 0 10px;
    font-size: 12px;
    font-weight: 400;
}
.page-login .el-form {
    width: 100%;
    margin-top: 28px;
}
.page-login .submit {
    margin-top: 28px;
}
.page-login .other {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--up-text-secondary);
}
.page-login .login-sign-protocol {
    display: none;
    margin-top: 150px;
    color: var(--up-text-secondary);
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.page-login .login-sign-protocol a {
    color: var(--up-primary);
}
html.dark .page-login .oauth-box .one:hover {
    background-color: #616268;
}
.up-header {
    justify-content: space-between;
}
.up-header,
.up-header > .left {
    display: flex;
    align-items: center;
}
.up-header > .left > .iconpark {
    cursor: pointer;
}
.up-header > .left > .icon-back {
    font-size: 24px;
}
.up-header > .left > .title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.up-header > .right {
    display: flex;
    align-items: center;
}
.up-header > .right > .icon-more {
    cursor: pointer;
    font-size: 24px;
}

@font-face {
    font-family: Cool Super Black;
    src: url(/fonts/Cool-SuperBlack.ttf);
    font-weight: 800;
    font-style: normal;
}
