.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.text-prompt {
    margin-top: 20px;
}

.text-prompt > span {
    color: white;
    font-family: Sans-serif, serif;
    font-size: 30px;
}

.scan-video-container {
    position: relative;
    width: 90%;
    max-width: 344px;
    height: 67.5%;
    max-height: 258px;
    border-radius: 20px;
    margin-top: 20px;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
}

.border-container {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.border-container div {
    position: absolute;
    border: 4px solid whitesmoke;
    width: 40px;
    height: 40px;
}

.border-container div:first-child {
    top: 0;
    left: 0;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 20px;
}

.border-container div:nth-child(2) {
    top: 0;
    right: 0;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 20px;
}

.border-container div:nth-child(3) {
    bottom: 0;
    left: 0;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 20px;
}

.border-container div:nth-child(4) {
    bottom: 0;
    right: 0;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 20px;
}

.maxlabs-logo {
    width: 20vh;
    margin-top: 40px;
}

#video {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    transform: scaleX(-1);
}

#canvasElement1 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvasElement2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}